@font-face {
  font-family: "Neon Retro Font";
  src: url(./assets/NeonRetroRegular.otf) format(opentype);
}

* {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1280px;
  color: #b7c4cf;
  background-color: black;
  box-sizing: border-box;
}

h2 {
  color: white;
  margin-top: 0;
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 160%;
}

b {
  color: white;
}

a {
  color: #f3d688;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  top: 0;
  position: sticky;
  height: 100vh;
  min-width: 355px;
  padding: 96px 20px 96px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.bio-heading {
  color: white;
  font-size: 48px;
  letter-spacing: -0.025em;
  margin: 0;
}

.bio-subtitle {
  color: white;
  font-size: 16px;
  letter-spacing: -0.025em;
  margin: 10px 0 0;
}

.bio-desc {
  max-width: 320px;
}

.status {
  font-size: 40px;
  font-family: "Neon Retro Font";

  border: 2px solid #fff6a9;
  border-radius: 4px;
  box-shadow: 0 0 6px #ffa500, 0 0 18px #ff0000, inset 0 0 6px #ffa500;

  padding: 0 14px;
  width: max-content;
  margin: 0 auto 40px auto;
  animation: blink 10s infinite;
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.icon {
  padding-right: 20px;
}

.right {
  padding: 126px 0 96px 20px;
  max-width: 600px;
}

.mg-0 {
  margin: 0;
}

.pb-80 {
  padding-bottom: 80px;
}

.card {
  display: flex;
  margin-bottom: 24px;
}

.img-container {
  display: flex;
  margin-bottom: 24px;
}

.card,
.img-container h3 {
  color: white;
  margin-top: 0;
}

.card-date {
  font-size: 15px;
  white-space: nowrap;
  padding-right: 15px;
  min-width: 130px;
}

.card-img {
  max-width: 150px;
  max-height: 100px;
  border-radius: 4px;
  margin: 0 20px auto 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
}

.card-techs > div {
  color: #f6dea0;
  background-color: #39352b;
  border-radius: 20px;
  padding: 4px 12px;
  margin-right: 10px;
  white-space: nowrap;
}

@media (width < 1024px) {

  @media (width < 640px) {
    .img-container {
      flex-direction: column-reverse;
      margin: 0;
    }

    .img-container > .card-img {
      max-width: 100%;
      max-height: none;
      margin: 0 auto;
    }

    .img-container > .card-info {
      margin-bottom: 20px;
    }
  }

  body {
    padding: 80px 48px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .left {
    position: relative;
    padding: 0;
    width: 100%;
    align-items: start;
    height: auto;
  }

  .bio-desc {
    max-width: 440px;
  }

  .status {
    margin: 60px 0 20px;
  }

  .right {
    padding: 100px 0 0;
    max-width: none;
  }
}

@media (width >= 1024px) {
  .card {
    padding: 20px;
    transition-duration: 0.3s;
  }
  .card:hover {
    background-color: #282828;
    border-radius: 5px;
  }
}
