@font-face {
  font-family: "Neon Retro Font";
  src: url(./assets/NeonRetroRegular.otf) format(opentype);
}

* {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1280px;
  color: #b7c4cf;
  background-color: black;
  box-sizing: border-box;
}

h2 {
  color: white;
  margin-top: 0;
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 160%;
}

b {
  color: white;
}

a {
  color: #f3d688;
  text-decoration: none;
}

.main-heading {
  color: white;
  font-size: 48px;
  letter-spacing: -0.025em;
  margin: 0;
}

.sub-heading {
  color: white;
  font-size: 16px;
  letter-spacing: -0.025em;
  margin: 10px 0 0;
}

.intro {
  max-width: 320px;
}

.status {
  font-size: 40px;
  font-family: "Neon Retro Font";

  border: 2px solid #fff6a9;
  border-radius: 4px;
  box-shadow: 0 0 6px #ffa500, 0 0 18px #ff0000, inset 0 0 6px #ffa500;

  padding: 0 14px;
  width: max-content;
  margin-bottom: 40px;
  animation: blink 10s infinite;
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.icon {
  padding-right: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 3rem;
}

.grid-left {
  top: 0;
  position: sticky;
  grid-row: 1 / 5;
  height: 100vh;
  padding: 96px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-right {
  grid-column-start: 2;
  margin-bottom: 120px;
}

.pd-top-96 {
  padding-top: 96px;
}

.pd-bot-96 {
  padding-bottom: 96px;
}

.mg-0 {
  margin: 0;
}

.about {
  padding: 96px 20px 0 0;
}

.card {
  display: flex;
  margin-bottom: 24px;
  padding: 20px;
  transition-duration: 0.3s;
}

.card:hover {
  background-color: #282828;
  border-radius: 5px;
}

.card h3 {
  color: white;
  margin-top: 0;
}

.card-date {
  font-size: 15px;
  white-space: nowrap;
  padding-right: 15px;
  min-width: 130px;
}

.card-img {
  max-width: 150px;
  border-radius: 4px;
  margin-right: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-techs {
  display: flex;
  white-space: nowrap;
}

.card-techs > div {
  color: #f6dea0;
  background-color: #39352b;
  border-radius: 20px;
  padding: 4px 12px;
  margin-right: 10px;
}
