* {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 70%;
  color: white;
  background-color: black;
  background-image: linear-gradient(#1E201E 70%, #3C3D37 );
  background-repeat: no-repeat;
}

.main-heading {
  font-family: "Kanit", sans-serif;
}